body {
    font-size: x-large;
    color: rgb(50, 47, 48);
    padding: 25px 60px 25px 60px;
    font-family: "Times New Roman"
  }

  h1
  {
    align: left;
    color: #000000;
    font-family: "Times New Roman";
  }

  h3
  {
    align: left;
    color: #d21148e6;
    font-family: "Times New Roman";
  }

  #center {
    text-align: center;
  }


  